* {
    margin: 0px;
    padding: 0px;
    box-sizing: inheret;
}

html {
    font-size: 62.5%; /*resizing the root font from 16 px to 10px so it eases rem calculations*/
}

body {
    box-sizing: border-box;
    font-size: 1.6rem;
    font-family: Arial;
}

h1 {
    font-weight: 100;
    margin-bottom: 0.6rem;
}

h2 {
    color: #d2632d;
    margin: 2rem 0 1rem 0;
    font-weight: 100;
}
h3 {
    color: white;
    padding-top: 6rem;
    text-shadow: 0.5px 0.5px #8e8f83;
}

a {
    text-decoration: none;
    font-weight: 100;
}
header {
    background-image: url("../images/engage.jpg");
    background-size: 100% 100%;
    color: white;
    padding: 5rem;
}

.headerDecorations {
    /* to left align header items at the center */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 25%;
    text-shadow: 1px 1px #8e8f83;
}
button {
    background-color: #dd9e22;
    cursor: pointer;
    color: white;
    border: none;
    padding: 0.7rem 0.8rem;
    font-size: 1.1rem;
    margin: 0.8rem 0.2rem;
    border-radius: 0.4rem;
}
main {
    text-align: center;
    color: #9d94a0;
}
.items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50.6rem, max-content));
    justify-content: center;
}

.container {
    background: url("images/coco.jpg");
    background-size: cover;
    height: 12rem;
}

.main p {
    color: #9d94a0;
    margin: 0 25% 1% 25%;
}

.products {
    display: grid;
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(16rem, max-content));
    justify-content: center;
    width: 50%;
    margin: 0 auto;
}

.product {
    border: 0.1rem solid gray;
    border-radius: 0.5rem;

    height: 21rem;
}

.product img {
    padding-top: 0.7rem;
}

.product-body {
    text-align: center;
}
.product-body p {
    width: 90%;
    margin: 0 auto;
    padding-top: 0.4rem;
}

h5 a {
    color: #d2632d;
    size: 1.5rem;
}
